@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
}

.button {
    user-select: none;
}

table tr td {
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 16px;
    text-align: center;
}

table tr td:last-child {
    border-right: 1px solid black;
}

table tr:last-child td {
    border-bottom: 1px solid black;
}